<p>bonjourrrrrrrr</p>
name:{{author.username}}<br>
picture:<img src="{{ asset(author.picture) }}" style="width: 100px; height: 100px;"><br>
email:{{author.email }}<br>
nb_books:{{author.nb_books}}

